.header {
	position: relative;
	background: var(--dark-blue-color);
	z-index: 550;
	&__container {
		padding-top: 21px;
		padding-bottom: 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 26px;
	}
	&__link {
		display: flex;
	}
	&__activity {
		display: flex;
		align-items: center;
		gap: 21px;
	}
	&__item {
		opacity: 0.8;
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 1;
		}
	}
	&__burger {
		display: none;
	}
}

@media (max-width: 1140px) {
	.header {
		&__logo {
			width: 117px;
			height: 45px;
		}
		&__icon {
			&-search {
				height: 25px;
				width: 25px;
			}
			&-enter {
				width: 74px;
				height: 25px;
			}
		}
	}
}

@media (max-width: 850px) {
	.header {
		&__logo {
			width: 65px;
			height: 25px;
		}
		&__icon {
			&-search {
				height: 20px;
				width: 20px;
			}
			&-enter {
				width: 61px;
				height: 20px;
			}
		}
		&__container {
			position: relative;
			flex-wrap: wrap;
			row-gap: 24px;
		}
		&__nav {
			order: 3;
			width: 100%;
		}
	}
}

@media (max-width: 635px) {
	.header {
		&__activity {
			display: none;
		}
		&__burger {
			display: inline-block;
		}
	}
}
