.hero {
	min-height: 610px;
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		height: 100%;
		&-popup {
			position: relative;
			border-radius: 5px;
		}
		&-expanding {
			padding: 20px 35px 24px 20px;
			background: var(--body-bg-color);
			border: 1px solid var(--dark-grey-color);
			border-radius: 5px;
			display: flex;
			column-gap: 28px;
			align-items: center;
			transition: opacity 0.3s ease;
			&-hover {
				&::after {
					content: "";
					position: absolute;
					inset: 0;
					border: 1px solid transparent;
					box-shadow: 0 0 4px 0;
					border-radius: 5px;
					opacity: 0;
					transition: opacity 0.3s ease;
					pointer-events: none;
				}
				&:hover {
					&::after {
						opacity: 1;
					}
				}
			}
		}
		&-expanded {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			background: var(--white-color);
			z-index: 550;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease, visibility 0.3s ease;
			&-active {
				opacity: 1;
				visibility: visible;
			}
			&-scrollbar {
				padding: 5px 0;
			}
		}
		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			padding: 25px;
			padding-top: 0;
			border-bottom: 5px solid var(--border-color);
			margin-bottom: 36px;
		}
		&-icon {
			min-width: 25px;
			width: 25px;
			min-height: 25px;
			height: 25px;
			border-radius: 5px;
			background: var(--dark-grey-color);
			margin-right: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-body {
			padding: 0 25px;
		}
	}
	&__picture {
		display: flex;
	}
	&__row {
		&-slider {
			will-change: max-height;
			transition: max-height 0.3s ease;
		}
		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}
	&__title {
		&-row {
			margin-bottom: 20px;
			&-docs {
				transition: transform 0.3s ease;
			}
		}
	}
	&__column {
		max-width: 600px;
		&-profile {
			max-width: 500px;
			padding: 25px 0;
			width: 100%;
			background: var(--dark-blue-color);
			border-radius: 10px;
			height: fit-content;
		}
	}
	&__text {
		color: var(--dark-black-color);
		font-size: 12px;
		line-height: 20px;
		margin: 0;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		max-width: 476px;
		&-expanded {
			-webkit-line-clamp: 18;
			max-width: unset !important;
		}
		&-property {
			font-size: 14px;
			font-weight: 500;
			line-height: 120%;
		}
	}
	&__button {
		&-text {
			display: flex;
		}
		&-connect {
			position: relative;
			padding: 10px;
			width: 100%;
			background: var(--white-color);
			border-radius: 5px;
			color: var(--black-color);
			font-size: 24px;
			line-height: 120%;
			font-weight: 500;
			transition: background 0.3s ease, color 0.3s ease;
			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 2px solid var(--white-color);
				border-radius: 5px;
				opacity: 0;
				transition: opacity 0.3s ease;
				pointer-events: none;
			}
			&:hover {
				color: var(--white-color);
				background: var(--black-color);
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&__list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 15px 20px;
		transition: max-height 0.3s ease;
		&-properties {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	&__item {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: var(--white-color);
		background: var(--dark-grey-color);
		border-radius: 5px;
		padding: 5px 15px;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		white-space: nowrap;
		&-more {
			position: relative;
			background: var(--lighter-dark-blue-color);
			cursor: pointer;
			width: 100%;
			max-width: 98px;
			transition: max-width 0.3s ease, background 0.3s ease;
			& span {
				transition: opacity 0.3s ease;
			}
			& img {
				transition: opacity 0.3s ease;
			}
			&:hover {
				background: var(--dark-blue-color);
			}
			&-active {
				cursor: unset;
				background: var(--dark-grey-color);
				pointer-events: none;
				&:hover {
					background: var(--dark-grey-color);
				}
			}
		}
		&-hidden {
			opacity: 0;
			visibility: hidden;
		}
		&-last {
			transition: max-width 0.3s ease, background 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
			& img {
				transform: translateY(-50%) rotate(180deg);
				transition: opacity 0.3s ease, visibility 0.3s ease;
			}
		}
		&-property {
			display: flex;
			align-items: center;
			width: 100%;
			color: var(--white-color);
			&:nth-child(odd) {
				& .hero__container-icon {
					background: var(--white-color);
				}
			}
		}
		&-default {
			opacity: 0;
			visibility: hidden;
		}
	}
	&__icon {
		&-arrow {
			&-bottom {
				&-white {
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
				}
			}
		}
		&-discount {
			transform: rotate(-45deg);
		}
		&-location {
			margin-right: 12px;
		}
	}
	&__image {
		border-radius: 5px;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
		padding-bottom: 23px;
	}
	&__slide {
		opacity: 0;
		transition: opacity 0.3s ease;
		&-visible {
			opacity: 1;
		}
	}
	&__slider {
		padding-right: 13px;
		padding-left: 24px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__wrapper {
		will-change: max-height;
		transition: all 0.3s ease;
	}
	&__scrollbar {
		background: var(--dark-grey-color);
		border-radius: 2px;
		height: 3px !important;
		left: 0 !important;
		width: 100% !important;
		transition: transform 0.3s ease;
		z-index: 400;
		& div {
			background: var(--dark-blue-color);
		}
	}
	&__value {
		margin-right: 15px;
	}
	&__name {
		color: var(--white-color);
		text-align: center;
		font-weight: 500;
		margin-bottom: 11px;
	}
	&__status {
		text-align: center;
		margin-bottom: 55px;
	}
	&__place {
		text-align: center;
		margin-bottom: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 1140px) {
	.hero {
		min-height: unset;
		padding-bottom: 50px;

		&__photo {
			width: 130px;
			height: 150px;
		}
		&__container {
			gap: 50px;
			align-items: center;
			&-icon {
				margin-right: 10px;
				min-width: 20px;
				width: 20px;
				min-height: 20px;
				height: 20px;
				& img {
					width: 16px;
					height: 16px;
				}
			}
			&-expanding {
				justify-content: space-between;
				column-gap: 33px;
			}
			&-header {
				padding-bottom: 36px;
			}
		}
		&__column {
			max-width: 500px;
			&-profile {
				padding-top: 36px;
				max-width: 374px;
			}
		}
		&__value {
			margin-right: 7px;
		}
		&__text {
			&-property {
				font-size: 10px;
				line-height: 12px;
			}
		}
		&__text {
			max-width: 380px;
			font-size: 10px;
			line-height: 20px;
		}
		&__name {
			font-size: 28px;
			line-height: 34px;
		}
		&__status {
			font-size: 12px;
			line-height: 15px;
		}
		&__place {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 20px;
		}
		&__icon {
			&-location {
				width: 16px;
				height: 20px;
				margin-right: 5px;
			}
		}
		&__button {
			&-connect {
				font-size: 18px;
				line-height: 22px;
			}
		}
		&__title {
			&-row {
				margin-bottom: 16px;
			}
		}
		&__row {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__item {
			font-size: 14px;
			line-height: 17px;
		}
		&__image {
			padding-bottom: 12px;
		}
	}
}

@media (max-width: 980px) {
	.hero {
		&__container {
			gap: 20px;
		}
	}
}

@media (max-width: 920px) {
	.hero {
		&__container {
			flex-direction: column-reverse;
		}
		&__column {
			max-width: 100%;
			&-profile {
				max-width: unset;
				display: flex;
				padding: 0;
				padding-right: 0;
			}
		}
		&__container {
			&-header {
				border-bottom: none;
				border-right: 5px solid var(--border-color);
				margin-bottom: 0;
				padding: 0;
				padding: 30px 20px 30px 32px;
			}
			&-body {
				padding: 30px 32px;
				margin: 0 auto;
			}
			&-expanding {
				padding: 20px;
				padding-right: 25px;
			}
		}
		&__name {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 8px;
		}
		&__status {
			font-family: Montserrat;
			font-size: 10px;
			line-height: 12px;
			margin-bottom: 27px;
		}
		&__button {
			&-connect {
				padding: 8px 28px;
				font-family: Montserrat;
				font-size: 16px;
				line-height: 20px;
			}
		}
		&__text {
			max-width: 795px;
			-webkit-line-clamp: 2;
			&-expanded {
				-webkit-line-clamp: 8;
			}
		}
		&__row {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__slider {
			padding-left: 11px;
			padding-right: 11px;
		}
	}
}
