<section class="activity">
	<div class="container activity__container">
		<h2 class="title title__h2 activity__title">Рекомендации</h2>
		<div class="swiper activity__slider-1">
			<div class="swiper-wrapper activity__wrapper-1">
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star1.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star1.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star2.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star2.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star3.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star3.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star4.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star4.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star5.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star5.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star6.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star6.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star7.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star7.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star1.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star1.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
				<div class="swiper-slide activity__slide-1">
					<picture>
						<source srcset="./img/star2.webp" type="image/webp" />
						<img
							loading="lazy"
							src="./img/star2.png"
							class="image activity__image-star"
							width="125"
							height="125"
							alt="Изображение рекомендации"
						/>
					</picture>
				</div>
			</div>
			<div class="swiper-scrollbar activity__scrollbar activity__scrollbar-1"></div>
		</div>
		<div class="activity__container-columns">
			<div class="activity__column activity__column-articles">
				<div class="activity__row">
					<h2 class="title title__h2 activity__title">Статьи эксперта</h2>
					<div class="swiper activity__slider-2">
						<ul class="list-reset swiper-wrapper activity__list-articles">
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="#">Тренды маркетинга – 1 квартал 2023 года</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">25.05.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">23</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Волшебная палочка для копирайтера</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">21.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">54</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Тренды маркетинга – 1 квартал 2023 года</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">25.05.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">23</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Волшебная палочка для копирайтера</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">21.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">54</h5>
									</div>
								</div>
							</li>
						</ul>
						<div
							class="swiper-scrollbar activity__scrollbar activity__scrollbar-2 activity__scrollbar-vertical"
						></div>
					</div>
				</div>
				<div class="activity__row">
					<h2 class="title title__h2 activity__title">Все статьи</h2>
					<div class="swiper activity__slider-3">
						<ul class="list-reset swiper-wrapper activity__list-articles">
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Нейросети – наше все ! Гайд по обучению сотрудников</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">22.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">67</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Почему так трудно найти хорошего специалиста</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">22.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">
											128
										</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Нейросети – наше все ! Гайд по обучению сотрудников</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">22.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">67</h5>
									</div>
								</div>
							</li>
							<li class="swiper-slide activity__item-article">
								<h5 class="title activity__title-article">
									<a href="">Почему так трудно найти хорошего специалиста</a>
								</h5>
								<div class="activity__container-article">
									<h5 class="title title__h5 activity__title-date">22.04.2023</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/eye.svg"
											class="image acitivity__icon-eye"
											width="25"
											height="20"
											alt="Изображение глаза"
										/>
										<h5 class="title activity__title-article activity__title-article-number">
											128
										</h5>
									</div>
								</div>
							</li>
						</ul>
						<div
							class="swiper-scrollbar activity__scrollbar activity__scrollbar-3 activity__scrollbar-vertical"
						></div>
					</div>
				</div>
			</div>
			<div class="activity__column activity__column-cases">
				<h2 class="title title__h2 activity__title">Кейсы</h2>
				<div class="swiper activity__slider-4">
					<ul class="list-reset swiper-wrapper activity__list-cases">
						<li class="swiper-slide activity__item-case">
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Руководитель маркетинга</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">Академия ИТ-Менеджмента</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/bag.svg"
											class="image acitivity__icon-bag"
											width="76"
											height="75"
											alt="Изображение портфеля"
										/>
									</div>
								</div>
							</div>
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Копирайтер</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">«Ушастые котята»</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/copyrighter.svg"
											class="image acitivity__icon-pencil"
											width="76"
											height="75"
											alt="Изображение карандаша"
										/>
									</div>
								</div>
							</div>
						</li>
						<li class="swiper-slide activity__item-case">
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Маркетолог</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">ДокторОст | Рекламная компания по лечению зубов</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/filter.svg"
											class="image acitivity__icon-filter"
											width="76"
											height="75"
											alt="Изображение фильтра"
										/>
									</div>
								</div>
							</div>
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Графический дизайнер</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">ГроссБух | Создание сайта</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/star.svg"
											class="image acitivity__icon-star"
											width="76"
											height="75"
											alt="Изображение звезды"
										/>
									</div>
								</div>
							</div>
						</li>
						<li class="swiper-slide activity__item-case">
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Таргетолог</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">Качественная настройка таргета</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/graph.svg"
											class="image acitivity__icon-graph"
											width="76"
											height="75"
											alt="Изображение графика"
										/>
									</div>
								</div>
							</div>
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">SMM-специалист</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">Молодежный форум «УТРО»</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/telegram.svg"
											class="image acitivity__icon-rg"
											width="76"
											height="75"
											alt="Изображение портфеля"
										/>
									</div>
								</div>
							</div>
						</li>
						<li class="swiper-slide activity__item-case">
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">Таргетолог</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">Качественная настройка таргета</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/graph.svg"
											class="image acitivity__icon-graph"
											width="76"
											height="75"
											alt="Изображение графика"
										/>
									</div>
								</div>
							</div>
							<div>
								<div>
									<h6 class="title title__h6 activity__title-job">SMM-специалист</h6>
									<h5 class="title activity__title-article activity__title-article-black">
										<a href="#">Молодежный форум «УТРО»</a>
									</h5>
								</div>
								<div class="activity__container-article activity__container-article-case">
									<h5 class="title title__h5 activity__title-date activity__title-date-dark">
										25.05.2023
									</h5>
									<div class="activity__container-views">
										<img
											loading="lazy"
											src="./img/telegram.svg"
											class="image acitivity__icon-rg"
											width="76"
											height="75"
											alt="Изображение портфеля"
										/>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div
						class="swiper-scrollbar activity__scrollbar activity__scrollbar-4 activity__scrollbar-vertical"
					></div>
				</div>
			</div>
		</div>
	</div>
</section>
