<header class="header">
	<div class="container header__container">
		<a href="#" class="header__link">
			<img src="./img/logo.svg" class="image header__logo" width="151" height="58" alt="Логотип" />
		</a>
		<nav class="nav" title="Навигационная панель">
			<ul class="list-reset nav__list">
				<li class="nav__item"><a href="#" class="nav__link">О платформе</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Календарь</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Найти эксперта</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Найти проект</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
			</ul>
		</nav>
		<ul class="list-reset header__activity">
			<li class="header__item">
				<button class="btn-reset header__button-search">
					<img
						src="./img/search.svg"
						class="image header__icon-search"
						width="30"
						height="30"
						alt="Иконка поиска"
					/>
				</button>
			</li>
			<li class="header__item">
				<button class="btn-reset header__button-enter">
					<img
						src="./img/enter.svg"
						class="image header__icon-enter"
						width="92"
						height="30"
						alt="Иконка входа"
					/>
				</button>
			</li>
		</ul>
	</div>
</header>
