<section class="menu">
	<nav class="nav menu__nav" title="Навигационная панель">
		<ul class="list-reset nav__list menu__list">
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">О платформе</a></li>
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">Новости</a></li>
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">Календарь</a></li>
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">Найти эксперта</a></li>
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">Найти проект</a></li>
			<li class="nav__item menu__item"><a href="#" class="nav__link menu__link">Кейсы</a></li>
		</ul>
	</nav>
</section>
