html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.page {
	// height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	font-size: 16px;
	background: var(--body-bg-color);
}

.site-container {
	overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

.dis-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
}

.page--ios .dis-scroll {
	position: relative;
}

@media (max-width: 980px) {
	.container {
		padding-left: 34px;
		padding-right: 34px;
	}
}

@media (max-width: 635px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 440px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
